
mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    height: 100%;
    padding-top: 12px;
  }
  
  mat-sidenav {
    width: 250px;
  }

  mat-toolbar {
    background-color: rgb(255, 255, 255);
    height: 75px;
    padding: 25px;
  }
  .example-spacer {
    flex: 1 1 auto;
  }

  .icon1{
     text-align: center;   
 }
  
  
  a {
    text-decoration: none;
    color: rgb(19, 18, 18);
    font-size: 15px;
  }
  
  a:hover,
  a:active {
    color: rgb(214, 52, 52);
  }
  
  .navigation-items {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

  .label {
    display: inline-block;
    line-height: 30px;
    margin: 0;
    width: 85%;
  }


  