<mat-sidenav-container>
  
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
     <!-- <div fxHide.gt-xs>
       <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div> -->
     <div>

         <div fxLayoutAlign="end end" class="icon1">
           <img src="assets/Komete.png"> 
          <a style="font-size: 22px;"> Danks Revision Selskab A/S</a>
          </div>

     </div>

     &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
     <div>
     <ul fxLayout  fxLayoutGap="20px" class="navigation-items" style="float:right;">  

     <div fxLayoutAlign="end end">
      <mat-icon>event_note</mat-icon>
      &nbsp;
      <a style="font-size: 17px;"> Virksomheder</a>
      </div>

      
      <div fxLayoutAlign="end end">
        <mat-icon>view_list</mat-icon>
        &nbsp;
        <a style="font-size: 17px;"> Standart Kontoplan</a>
        </div>
    </ul>
  </div>
    &nbsp;&nbsp;
    <span class="example-spacer"></span>

     <div>
      <ul fxLayout  fxLayoutGap="20px" class="navigation-items" style="float:right;">  
          <li>
              <a>
                <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                  <mat-icon class="icon">notifications_none</mat-icon>
                  <mat-icon>arrow_drop_down</mat-icon>
                  </button>
              </a>
          </li>
          <li>
            <a>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon> email</mat-icon>
                  <mat-icon>arrow_drop_down</mat-icon>
                </button>
            </a>
          </li>
          <li>
            <a>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>settings</mat-icon>
                <mat-icon>arrow_drop_down</mat-icon> 
                </button>
            </a>
          </li>

          <li>
            <a>
              <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
                <mat-icon>person</mat-icon>
                <mat-icon>arrow_drop_down</mat-icon>
                </button>
            </a>
          </li> 
          
      </ul>
   </div>
  </mat-toolbar-row>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>

<!-- <footer></footer> -->
<router-outlet></router-outlet>